@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
    background-color: rgb(5, 1, 23);
    overflow-x: hidden; /* This is good, keep it */
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

/* Remove all those @media width: 600px, 400px, etc. */
/* They are fighting against your Tailwind 'w-full' classes */

.titleImg {
    max-width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .titleImg {
        display: none; /* Better than visibility:hidden to save space */
    }
}